#page_content {
  p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 140%;
  }

  .contents {
    margin: auto;
    max-width: 600px;
    @media (max-width: 767px) {
      margin-left: -20px;
    }
    @media (max-width: 767px) {
      margin-left: -20px;
    }

  }
}

#page_content .container-fluid {
  padding-left: 30px;
  padding-right: 0px;
}

#page_content {
  p .counter {
    opacity: 0.0;
    left: 5px;
    @media (max-width: 767px) {
      left: inherit;
      right: 5px;
    }
  }
}

#page_content .viz_separator {
   margin-top: -10px;
   background-color: black;
   display: block;
   height: 10px;
   width: 10px
}
