<% set_default(files, []) %>

<div class="container-fluid">
  <div class="row-fluid">
    <h1>Chapter Helpers</h1>

    <table class="table span8">
      <% _.each(files, function(filename) { %>
        <tr>
          <td class="">
            <a href="/mars/read?f=<%= filename %>"><%= filename %></a>
          </td>
          <td class="">
            <a href="/mars/watch?f=<%= filename %>">viewership</a>
          </td>
          <td class="">
            <a href="/mars/comments?f=<%= filename %>">comments</a>
          </td>
        </tr>
      <% }) %>
    </ul>
  </div>
</div>
