<% set_default("rendered", "") %>

<div class="container-fluid">
  <div class="row-fluid contents span8">
    <div class="mbl clearfix pal">
      <%= render_chapter_links() %>
    </div>

    <div>
      <%= rendered %>
    </div>

    <div class="mbl clearfix pal">
      <%= render_chapter_links() %>
    </div>
  </div>

</div>
