<div class="pal">
  <hr />
  <form>
    <fieldset class="row-fluid">
      <div>
        <label>Add a comment</label>
        <textarea name="comment" rows="5" class="span12"></textarea>
      </div>

      <div>
        <input name="author" type="text" placeholder="Add your name (optional)">
      </div>

      <div>
        <button type="submit" class="btn">Submit</button>
      </div>
    </fieldset>
  </form>
  <hr />
</div>
